<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">
            New Recipe
        </button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li *ngFor="let item of recipes">
                <a href="#" class="list-group-item clearfix">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">
                            {{ item.name }}
                        </h4>
                        <p class="list-group-item-text">
                            {{ item.description }}
                        </p>
                    </div>
                    <span class="pull-right">
                        <!-- src="{{ item.imagePath }};" can work as well  -->
                        <img 
                            [src]="item.imagePath"
                            alt="{{ item.name }} Image" 
                            class="img-responsive" 
                            style="max-height: 50px;">
                    </span>
                </a>
            </li>
        </ul>
        <app-recipe-item></app-recipe-item>
    </div>
</div>