<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
            <li *ngFor="let odd of oddNumbers"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow': 'transparent'}"
            class="list-group-item">
              {{odd}}
            </li>
        </div>
        <!-- Using appUnless as a structure directive -->
        <div *appUnless="onlyOdd">
            <li *ngFor="let even of evenNumbers"
            [ngClass]="{odd: even % 2 === 0}"
            class="list-group-item">
              {{even}}
            </li>
        </div>
        <!-- <div *ngIf="!onlyOdd">
            <li *ngFor="let even of evenNumbers"
            [ngClass]="{odd: even % 2 === 0}"
            class="list-group-item">
              {{even}}
            </li>
        </div> -->
      </ul>
      <p appBasicHighlight>Style me with basic directive!</p>
      <!-- We can use [property]='"value"' and property='value', both case works -->
      <!-- Aliasing the property with the same name of the directive allows we to set the value of the property directly on the directive -->
      <!-- in this case, appBetterHighlight='red' sets the value 'red' on a property inside the directive with the alias equals the directive name -->
      <p appBetterHighlight='red' defaultColor='yellow' >Style me with better directive!</p>

      <!-- Here is an use of attribute directive and structure directive -->
      <!-- ngSwitch is put as and property directive because the div is always rendered -->
      <div [ngSwitch]="switchValue">
        <!-- The *ngSwitchCase is a structure directive because sometimes the element is not rendered, so the DOM structure is changed -->
        <p *ngSwitchCase="1">The value is 1</p>
        <p *ngSwitchCase="2">The value is 2</p>
        <p *ngSwitchCase="5">The value is 5</p>
        <p *ngSwitchCase="10">The value is 10</p>
        <p *ngSwitchDefault>The value is default, getting it: {{switchValue}}</p>
      </div>
    </div>
  </div>
</div>
